body{
    height: 500px;
    background-color: white;
}

header {
    text-align: center;
    gap: 20px;
}

#container-geral {
    height: 40%;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nome-completo{ 
    height: 20px;
    padding: 5px 10px;
    border: 1px solid black;
}

#seta{
    font-weight: bolder;
    border: none;
    cursor: pointer;
    color: #fff;
    width: 110px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(26, 0, 128);
}

#sub2 {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.text-area {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 35px;
    border: 1px solid black;
}

