body,
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

hr {
    border: 1px solid black;
    width: 100%;
}

#ddd,
#ramal {
    width: 30px;
}

#telefone {
    width: 100px
}

#buttons {
    margin-top: 5px;
}