
      body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }
        #header {
            padding: 20px;
            text-align: center;
        }
        img {
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            display: block; 
        }
        #search-container {
            text-align: center;
            margin: 50px auto;
            max-width: 600px;
        }
        #search-box {
            width: 100%;
            padding: 10px;
            border: 1px solid #dfe1e5;
            outline: none;
            font-size: 16px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        #search-buttons {
            margin-top: 10px;
        }
        .search-btn {
            background-color: #4285f4;
            color: #fff;
            border: none;
            padding: 10px 20px;
            margin-right: 10px;
            cursor: pointer;
        }
