body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 36px;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

p {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}


img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block; 
}

