body{
    background-color:white;
}

#card-teste{
    position: absolute;
    top: 20px;
    right: 20px
}

.form-control {
    opacity: 0.5;
}

.input-geral{
    margin-left: 20%;
    width: 50%
}
