html{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gray;
}

header{
    background-color: green;
    color: white;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

main{
    width: 80%;
    height: 100%;
    margin-bottom: 10px;
    text-align: justify;
}

.conteiner{
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 20px;
}

div{
    outline: solid 2px #0dcf0d8f;
    border-radius: 10px;
    cursor: pointer;
}

div:hover{
    text-decoration: underline;
}

header{
    text-align: center;
    width: 100%;
    height: 10vh;
    position: flex;
    vertical-align: bottom;
}

.news-1{
    grid-area: 1 / 1 / 2 / 2;
}
.news-2{
    grid-area: 1 / 2 / 2 / 5; 
}
.news-3{
    grid-area: 2 / 3 / 2 / 4;
}
.news-4{
    grid-area: 2 / 4 / 0 / 5;
}
.news-5{
    grid-area: 2 / 1 / 2 / 1;
}

